* {
    margin:0;
    box-sizing: border-box;
}
aside {
    background-color: #ff7c98;
    height:100%;
    width:200px;
    position: fixed;

}
aside a {
    color: #fff;
    font-weight: bold;
    display: block;
    padding:20px;
    text-decoration: none;
}

section {
    height:100%;
    width:100%;
    position: fixed;
    margin-left:200px;
    padding:20px;
    background-color: #f4f4f441;
}

.logo {
    padding:20px;
}

section h1 {
    color: #ff7c98;
    margin-bottom: 10px;
    border-bottom: 1px solid #ff7c98;
}

section p {
    border: 1px solid #ff7c98;
    width:200px;
    padding:10px;
    margin:10px 0;
}
